@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';


body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
